@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Parisienne&display=swap');

header{
    background-color: #78A1BB;
    display: grid;
    grid-template-columns: 150px auto;
    margin-left: 0px;
    margin-right: 0px;
}

body{
    background-color: #C6A380;
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
footer,
footer a {
  background-color: #78A1BB;
  color: #CE4E12;
  text-decoration: none;
}

footer {
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a:hover {
  color: #C6A380;
}

footer p {
  font-size: 1.2em;
}

footer p a:hover {
  text-decoration: underline;
}

footer .social img {
  padding-top: 15px;
}
.icon {
    width: 80px;
    padding-top: 10px;
  }
  .logo {
    width: 80px;
  }
  

#content {
    max-width: 1600px;
    margin: 0 auto;
  }

nav a{
    text-align: center; 
    background-color: #CE4E12 ;
    color: #251605;
    text-decoration: none;
    padding: 35px;
  }
  nav {
    display: flex;
    justify-content: space-around;
}

.logo{
    width: 80px;

}  
.main{
    width: 100%;
    height: 500px;
    justify-content: center;
}
.home-grid2{
    display: grid;
    grid-template-columns: 1fr,1fr,1fr;
    grid-row: repeat(8, 1fr);
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    

}
.main-img{
    width: 100%;
    grid-row: 1;
    grid-column: 1/4;

}
.lighthouse{
    grid-column: 3/4;
    grid-row: 7;
    width: 350px;
    height: 250px;
}
.group_camping{
    grid-column: 3/4;
    grid-row: 11;
    width: 350px;
    height: 250px;
}
.raft{
    grid-column: 3/4;
    grid-row: 15;
    width: 350px;
    height: 250px;
}
.home-grid2 h2{
    grid-column: 1/2;
}
.home-grid2 p {
    grid-column: 1/3;
}
p{
    font-size: 1em;
}
h2{
    text-wrap: balance;
    color: #CE4E12;
}