@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Parisienne&display=swap');


#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
    
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

nav a{
    text-align: center; 
    background-color: #CE4E12 ;
    color: #251605;
    text-decoration: none;
    padding: 35px;
  }
#hero-msg h1,
#hero-msg h4{
    text-align: center;
    color: white;
}  
.button-box{
    text-align: center;
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);

}
#main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color: #C6A380;
    grid-column: 1/11;
    grid-row: 4/9;
}
body{
    background-color: #C6A380;
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
nav a:hover{
    background-color: #C6A380;
    color: #251605;
}
footer,
footer a{
    background-color: #78A1BB;
    color: #CE4E12;
    text-decoration: none;
}
footer{
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header{
    background-color: #78A1BB;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}
.msg{
    background-color: #CE4E12;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.book:hover, 
.join:hover{
    background-color: #78A1BB;
    color: #CE4E12;
}
.book, 
.join{
    background-color: #CE4E12;
    color: #251605;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.home-title{
    color: #251605;
    font-family: "Parisienne", "Brush Script MT", cursive;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: #CE4E12;
}
.msg h2{
    color: #251605;
}
.msg p{
    color: #251605;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a:hover{
    color: #C6A380;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.logo{
    width: 80px;
}
#hero-img{
    width: 100%;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}  
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;

}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
    
}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;

}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.card-img {
    border: 10px solid #251605;
    width: 100%;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
main section img {
    box-sizing: border-box;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
/*FAQ CSS*/
.main{
    width: 100%;
    height: 500px;
    justify-content: center;
}
.home-grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    

}
.main-img{
    width: 100%;
    grid-row: 1;
    grid-column: 1/4;

}
.lighthouse{
    grid-column: 3/4;
    width: 350px;
    height: 250px;
    justify-self: center;
}
.group_camping{
    grid-column: 3/4;
    justify-self: center;
    grid-row: 12;
    width: 350px;
    height: 250px;
}
.raft{
    grid-column: 3/4;
    justify-self: center;
    grid-row: 16;
    width: 350px;
    height: 250px;
}
.home-grid2 h2{
    grid-column: 1/4;

}
.home-grid2 p {
    grid-column: 1/3;
}
p{
    font-size: 1em;
}
h2{
    text-wrap: balance;
    color: #CE4E12;
    
}
.home-grid2 h1 {
    grid-column: 1/4;
    text-align: center;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            