.logo{
    height: 30%;
    width: 30%;

}
.hero{
    width: 800px;
    height: 300px;
}
.secondary{
    width: 500px;
    height: 500px;
}
.secondary-pg2{
    width: 500px;
    height: 400px;
}
.secondary-pg3{
    width: 500px;
    height: 350px;
}
#kitchen{
    width: 500px;
    height: 350px;
}