@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1, h2 {
    font-family: "Roboto";
}

p {
    font-family: "Open Sans", sans-serif;
}
/* Navagation bar */
.nav-grid {
    display: grid;
    grid-template-columns: 200px 1fr; 
    height: 100px;                     
    width: 100%;                      
    background-color: #ff8600 ;         
    padding: 0 50px;                   
    box-sizing: border-box;
    gap: 20px;
    margin-top: 50px;
}


.nav-grid .logo {
    width: 175px;
    height: 175px;
    object-fit: contain; 
    margin-top: -37.5px;
}


.nav-grid nav {
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    height: 100%; 
    margin-top: -25px;                 
}


.nav-grid nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 1.1em;
    padding: 10px 20px;            
    border: 2px solid #000000;
    border-radius: 5px;
    transition: all 0.3s;
}


.nav-grid nav a:hover {
    background-color: #5d737e;
    color: #f4f4f9;
    border-color: #5d737e;
    transform: scale(1.05);
}

/* Footer */
.footer-grid{
    display: grid;
    grid-template-columns: 25px 200px 1fr;
    grid-template-rows: repeat(5, 50px);
    background-color: #ff8600;
    padding: 20px;
    text-align: center;

}
.copyright{
    grid-row: 5;
    grid-column: 3;
    text-align: right;
    font-size: 1.5em;
}
.link1{
    grid-row: 1;
    grid-column: 2;
    text-align: left;
    color: #000000;
    font-size: 1.5em;
}

.link2{
    grid-row: 2;
    grid-column: 2;
    text-align: left;
    font-size: 1.5em;
}
.link3{
    grid-row: 3;
    grid-column: 2;
    text-align: left;
    font-size: 1.5em;
}
.link4{
    grid-row: 4;
    grid-column: 2;
    text-align: left;
    font-size: 1.5em;
}

/* Page images */
.secondary-pg2,
.secondary-pg3,
#kitchen {
    width: 500px;
    height: 350px;
}

/* Main Home page grid */
body{
    background-color: #5d737e;
}
.main-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: 100px 200px 50px 600px 500px;
    max-width: 1200px;
    margin: 0 auto; 
    gap: 20px;
    padding-bottom: 20px;
}


.p1h {
    grid-column: 1 / -1; 
    grid-row: 1;
    text-align: center;
    font-size: 3em;
    margin-left: -150px;
    
}


.p1mp {
    grid-column: 1 / -1;
    grid-row: 2;
    text-align: center;
    font-size: 1.75em;
    max-width: 900px;
    margin-left: 150px;
    
}


.hero {
    width: 1500px;
    height: 600px;
    margin-left: -150px;
    grid-column: 1 / -1;
    grid-row: 4;

}


.secondary {
    width: 500px;
    height: 500px;
    justify-self: center;
    grid-column: 1 / 3;
    grid-row: 5;
}


#bay_city_text {
    text-align: center;
    font-size: 1.5em;
    grid-column: 3 / 5;
    grid-row: 5;
    max-width: 500px;
    margin: 0 auto;
}


.button1,
.button2 {
    grid-row: 3;
    justify-self: center; 
}


.button1 {
    grid-column: 2;
}

.button2 {
    grid-column: 3;
}
.main-grid .button1,
.main-grid .button2 {
    padding: 12px 25px;           
    font-size: 1.1em;             
    font-weight: bold;
    border: 2px solid #000000;       
    border-radius: 8px;            
    background-color: #ff8600;    
    color: #000000;                 
    cursor: pointer;              
    transition: all 0.3s; 
    margin-left: -150px;  
    text-decoration: none;      
}
.main-grid .button1:hover,
.main-grid .button2:hover {
    background-color: #5d737e;       
    color: #f4f4f9;               
    transform: scale(1.05);  
    text-decoration: none;     
}
/* subpage 1 learn.html*/

.heading-grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 50px;


}
h1{
    grid-row: 1;
    text-align: center;
    margin-top: 40px;
}
.main_text{
    grid-row: 2;
    text-align: center;
    font-size: 20px;
    margin-left: 75px;
    margin-right: 75px;
}
/* the gllery*/
* {
    box-sizing: border-box;
  }

  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #222;
    font-weight: bold;
    font-size: 24px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: #ff8600;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #ff8600;
    font-size: 24px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: #ff8600;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .row .column img{
    height: 200px;

  }
  .column {
    float: left;
    width: 16.66%;
    
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  .mySlides img {
    height: 550px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.pg2-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px;
    padding: 25px;
    gap: 25px;
  }
.fun{
    text-align: center;
    grid-column: 1;
    margin-top: auto;
    margin-bottom: auto;
}

.bridge_img{
    grid-column: 2;
    height: 450px;
    margin-top: auto;
    margin-bottom: auto;
}
.town{
    text-align: center;
    grid-column: 3;
    margin-top: auto;
    margin-bottom: auto;
}
